<h1> Hello World</h1>
<!-- <app-newcinappmod></app-newcinappmod> -->
<!-- <div class="app-newcinappmod"></div> -->
<div app-newcinappmod></div>
<app-comindiffmod></app-comindiffmod>
<app-interpolationex></app-interpolationex>
<app-propclassbind></app-propclassbind>
<app-event-binding-exp></app-event-binding-exp>
<app-template-ref-variables></app-template-ref-variables>
<app-twowaybindingex></app-twowaybindingex>
<label>{{holderOfChildEventData}}</label>
<app-child-comp-of-app-comp [dataFromParentComp]="parentData" (eventFromChildComp)="handleChildEvent($event)"></app-child-comp-of-app-comp>