<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nileshserviceaccount;AccountKey=csFZ8dsI78AUsS0+AKyK5SvS+5OGQHyaxA7Dl0Tf5Yq7MFCdM5mpxGA4nphztroN4SN53/wTiNP5O1v5pq2otA==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>