<div>
    -------This is the interpolation example used for expression evaluation------ 
    <ol>
        <li> {{"Wekcome" + "Nilesh"}}  </li>
        <li> {{2+2}}  </li>
        <li> {{"Welcome " + FisrtName + LastName}}  </li>
        <li> {{"Welcome " + FisrtName.toUpperCase() + LastName}}  example of calling javascript methods</li>
        <li> {{inta / intb}}  </li>
        <li> {{CallTheComponettsMethod()}}  </li>
        <li> Global javascript variable accessing or any assignment operation is not allowed </li>
    </ol>     
    -----------------------------------------------------------------------------
</div>
