<div>
    -------This is the event bindig example used -------------------------- 
    <!-- The event must be DOM events means remove the "on" part of the htmlelement events -->
    <ol>
        <li><button id="txt0" (click)="performClickOperation()">Click</button></li>
        <li><textarea id="txt1" (focusout)="performFocusOut($event)"></textarea></li>
        <li> <label id="lbl0">{{valFromTextBox0}}</label>  </li>
    </ol>     
    -----------------------------------------------------------------------------
</div>
